{%extends "layout.html"%}
{%block content%}
<h1>{{name}}</h1>
<br>
<br>
<form method="POST">
    {{form.hidden_tag()}}
    {{form.title.label}}
    {%if form.title.errors %}
    {{form.title(class="form-control form-control-lg is-invalid")}} 
    <div class="invalid-feedback">
        {% for i in form.title.errors %}
        <span>{{i}}</span>
        {%endfor%}
    </div>
    {%else%}
    {{form.title(class="form-control form-control-lg")}} 
    {% endif %}  
    {{form.content.label}}
    {%if form.content.errors %}
    {{form.content(class="form-control form-control-lg is-invalid")}} 
    <div class="invalid-feedback">
        {% for i in form.content.errors %}
        <span>{{i}}</span>
        {%endfor%}
    </div>
    {%else%}
    {{form.content(class="form-control form-control-lg")}} 
    {% endif %}  
    <br>
    {{form.submit(class="btn btn-outline-info")}}
</form>

{%endblock%}